@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0%;
}

body{
    
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}



header { 
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(44, 62, 147);
    display: flex;
    justify-content: space-between;
    padding: 0 41px;
    border-radius: 0 0 10px 10px;
    align-items: center;
    box-shadow: 0 16px 8px -9px rgba(191, 191, 191, alpha);   
}



header > div > img {
    width: 100px;
    height: 90px;
    position: absolute;
    left: 90px;
    bottom: 5px;
    
}


.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    

}

.nav-bar ul li a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    display: block;
    color: #0b2447;
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .2s;
}

.nav-bar ul li a::after{
    display: block;
    content:"";
    border-bottom: 2px solid;
    transform: scale(0); /* Esconde a barra que fica embaixo dos links */ 
    transition: 250ms ease-in-out;
}

.nav-bar ul li a:hover::after {
    transform: scaleX(1);/* nao esconde a barra que fica embaixo dos links */ 
}

.nav-bar ul li a:active {
    color: #19376d; /*quando ativado fara essa cor*/

}

main {
    margin: auto;
    min-height: 320px;
    box-shadow: 0px 0px 1px #5a120894;
    font-size: 1.3em;
    border-radius: 10px;
    
    
}

.center {
    text-align: center;
}

.container-2 {
    gap: 0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



.box {
    width: 536px;
    padding: 25px;
}



article > h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.651);
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding: 10px;
    
}

article > p {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 0.7em;
    font-weight: 500;
}

section {
    background-color: #0E1847;
    padding: 20px;
    border-radius: 40px 0px 40px 0px ;
    margin: 30px;
    color: white;
}

section > h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.651);
    text-align: center;
}

section > p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    margin: auto;
    text-align: center;
    max-width: 900px;
}
 section > img {
    width: 1000px;
    
 }

.mid {
    width: 70%;
    height: 1.5px;
    background: #0B2447;
    margin: auto;
    margin-bottom: 20px;

}


.container {
    position: relative;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: hidden;

}


.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 40px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: rgb(46, 46, 46);
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.5;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    left: auto;
    right:0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-right:hover,
.arrow-left:hover {
    opacity:2;
    
}

.item {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
    
}
 
.current-item {
    opacity: 1;
    transform: translate(-5px, -8px);
}


.container-2-convic {
    gap: 50px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

}

.content {
    background-color: antiquewhite;
    color: #0B2447;
    font-family: 'Noto Sans', sans-serif;
    width: 200px;
    height: auto;
    font-size: 0.7em;
    border-radius: 5px;
    padding: 13px;
    box-shadow: 1px 1px 2px black;

}

.footer {
    background-color: rgb(44, 62, 147);
    color: rgb(216, 216, 216); 
    
    
}

.footer > h5 {
    font-size: 1.4em;
    padding: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
}

.footer > ul {
    width: 70%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}


.footer > ul > li {
    list-style: none;
    padding: 5px;
    
}

.footer > ul > li > a {
    font-weight: bold;
    color: rgb(74, 104, 255);
}



@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #0B2447;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 200px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 60px auto 0;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .gallery-wrapper {
        overflow-x: scroll;
    
    }
    
    .item {
        width: 300px;
        height: 400px;
        flex-shrink: 0;
        opacity: 1;
        transition: all 600ms ease-in-out;
        
    }

    .current-item {
        opacity: 1;
        transform: none;
    }


    .arrow-left,
    .arrow-right {
        display: none;
    }



    header > div > img {
        width: 80px;
        height: 70px;
        position: absolute;
        left: 13px;
        bottom:15px;
        
    }
}