@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0%;
}


header { 
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(44, 62, 147);
    display: flex;
    justify-content: space-between;
    padding: 0 41px;
    border-radius: 0 0 10px 10px;
    align-items: center;
    box-shadow: 0 16px 8px -9px rgba(191, 191, 191, alpha);   
}



header > div > img {
    width: 100px;
    height: 90px;
    position: absolute;
    left: 90px;
    bottom: 5px;
    
}


.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    

}

.nav-bar ul li a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    display: block;
    color: #092041;
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .2s;
}

.nav-bar ul li a::after{
    display: block;
    content:"";
    border-bottom: 2px solid;
    transform: scale(0); /* Esconde a barra que fica embaixo dos links */ 
    transition: 250ms ease-in-out;
}

.nav-bar ul li a:hover::after {
    transform: scaleX(1);/* nao esconde a barra que fica embaixo dos links */ 
}

.nav-bar ul li a:active {
    color: #19376d; /*quando ativado fara essa cor*/

}


.container {
    gap: 0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width:600px;
    padding: 25px;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;    
}

article p {
    font-family: 'Noto Sans', sans-serif;
}

.telefone::before{
    content: '📞';
}

.gmail::before {
    content: '📧';
}


fieldset {
    border: none; 
     
}


::placeholder {
    font-family: 'Noto Sans', sans-serif;
}

fieldset > ul {
    background-color: aliceblue;
    border: 1px solid rgb(215, 249, 250) ;
    list-style: none;
    padding: 15px; 
    
}

fieldset > ul li {
    margin:10px;
    font-size: 1.2em;
    font-family: 'Noto Sans', sans-serif;

}

fieldset > label{  
    text-align: right;
    width: 150px;
    vertical-align: top;
    
}

input {   
    font-size: 1.0em;
}

fieldset > input, select, button {
    font-size: 100%;
}

.small {
    width: 75px;
}


@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #0B2447;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 200px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 60px auto 0;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    header > div > img {
        width: 80px;
        height: 70px;
        position: absolute;
        left: 13px;
        bottom:15px;
        
    }
}