@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0%;  
}


header { 
    position:relative;
    width: 100%;
    height: 100px;
    background-color: rgb(44, 62, 147);
    display: flex;
    justify-content: space-between;
    padding: 0 41px;
    border-radius: 0 0 10px 10px;
    align-items: center;
    box-shadow: 0 16px 8px -9px rgba(191, 191, 191, alpha);
    
}



header > div > a > img {
    width: 100px;
    height: 90px;
    position: absolute;
    left: 90px;
    bottom: 5px;
    
}


.hamburger {
    display: none;
}




.nav-bar ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}

.nav-bar ul li a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    display: block;
    color: #092041;
    font-size: 1.7em;
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .2s;
}

.nav-bar ul li a::after{
    display: block;
    content:"";
    border-bottom: 2px solid;
    transform: scale(0); /* Esconde a barra que fica embaixo dos links */ 
    transition: 250ms ease-in-out;
}

.nav-bar ul li a:hover::after {
    transform: scaleX(1);/* nao esconde a barra que fica embaixo dos links */ 
}

.nav-bar ul li a:active {
    color: #19376d; /*quando ativado fara essa cor*/

}

/*fim do nav*/

main {
    margin: 20px;
    
}

.container-slider {
    display: flex;
    width: 100%; /*add uma width depois*/
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    z-index: 0;
    
}
  
.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1230px;
   
}
  
.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 90%;
    border-radius: 10px; 
    min-width: 320px; 
}
  
.on {
    opacity: 1;
}
  
#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}
  
#prev-button {
    transform: rotate(180deg);
}


.container {
    gap: 7px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -60px;
}

.box {
    width: 480px;
    margin-top: 40px;
}
.box-2 {
    text-align: center;
    margin-top: 70px
   
}


h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.7em;
        
}

article p {
    font-family: 'Noto Sans', sans-serif;
    padding: 10px;
    font-size: 1.05em;
    font-weight: 500;
}

.telefone::before{
    content: '📞';
}

.gmail::before {
    content: '📧';
}

.button-job {
    margin: 10px;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    border-radius: 15px;
    font-size: 1em;
}

.button-job:hover{
    font-weight: bold;
    border-width: 2px;
}

.button-job a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/*inicio do formulario*/
.title-form {
 color: black;
 text-align: center;
 font-size: 1.7em;
 margin-bottom: 20px;
}

fieldset {
    border: none; 
}

.login-box > form > fieldset > ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.login-box {
    padding: 20px;
    background-color:rgb(66, 90, 170);
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    border-radius: 30px;
    font-family: 'Noto Sans', sans-serif;
}

fieldset ul h2 {
    padding: 10px;
    color: black;
    padding-left: 0;
    font-size: 1.7em;
}

textarea {
    font-size: 1.0em;
    font-family: 'Noto Sans', sans-serif; 
    outline: none;
    background:rgba(95, 106, 138, 0.473) ;
    
   
}

textarea::placeholder{
    color: rgba(187, 187, 187, 0.486);
}

.login-box .user-box input {   
    font-size: 1.0em;
    padding: 10px 0;
    color: rgb(39, 38, 38);
    margin-bottom: 37px;
    border: none;
    border-bottom: 1.2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
    width: 80%; 
    font-weight: 500;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box label {
    position: absolute;
    top: -35%;
    left: 40px;
    padding: 10px 0;
    color: rgb(39, 38, 38);
    pointer-events: none;
    font-size: 0.90em; 
    font-weight: 600; 
    
}

.user-box {
    margin-top: 1em;
}

.user-box label::after {
    content: '*';
    color: rgb(148, 31, 31);
}

.login-box .user-box input::placeholder{
    color: rgba(187, 187, 187, 0.486);
    font-size: 1.0em;

}

.submit {
    padding: 3px;
    width: 40%;
    margin-top: 25px;
    font-size: 1em;
    font-family:'Noto Sans', sans-serif ;
    border-radius: 15px;

}

.submit:hover {
    font-weight: bold;
    border-width: 2px;
    
}

.fixed {
    position: relative;
    
}

.fixed .triangle {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid rgb(66, 90, 170);
    rotate: 90deg;
    position: absolute;
    right: -70px;
    top: -600px;
    
   
}



/*INICIO DO RODAPE */
footer {
    background-color: rgb(44, 62, 147);
    color: #d8d8d8;   
    margin-top: 50px;
}

.containerFooter {
    gap: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
} 

.layout {
    width: 1156px;
    padding: 25px;
   
}

.imgFooter {
    width: 300px;
    padding-right: 0px;
    padding-top: 30px; 

}

.layout > h5 {
    font-size: 1.4em;
    padding: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
}

.layout > ul { 
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    padding: 0%;
}


.layout > ul > li {
    list-style: none;
    padding: 5px;
    
}

.layout > ul > li > a {
    font-weight: bold;
    color: rgb(9, 32, 65);
}

@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #0B2447;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
        transition: 0.5s;
        overflow: hidden;
        z-index: 1;
    }

    .nav-bar.active {
        height: 200px;
        z-index: 2;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 60px auto 0;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    header > div > a > img {
        width: 80px;
        height: 70px;
        position: absolute;
        left: 30px;
        bottom:15px;
        
    }

    .container {
        gap: 7px; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       margin-top: -30px;
    }

    .container-slider {
        display: flex;
        width: 100%; /*add uma width depois*/
        min-height: 30vh;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        z-index: 0;
        
    }
}

@media only screen and (max-width: 1002px) {
    .fixed {
        position: relative;
    }
    
    .fixed .triangle {
        width: 0;
        height: 0;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 70px solid rgb(66, 90, 170);
        rotate: 180deg;
        position: absolute;
        right:285px;
        top: 3px;
        margin-left: 20px;
    } 

}

@media only screen and (max-width: 410px) {
    .fixed {
        position: relative;
    }
    
    .fixed .triangle {
        width: 0;
        height: 0;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 70px solid rgb(66, 90, 170);
        rotate: 180deg;
        position: absolute;
        right:285px;
        top: 3px;
        margin-left: 20px;
        display: none;
    } 
}