@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0%;
}

body{
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}

/*INICIO DAS CONFIS DO HEADER */

header { 
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(44, 62, 147);
    display: flex;
    justify-content: space-between;
    padding: 0 41px;
    border-radius: 0 0 10px 10px;
    align-items: center;
    box-shadow: 0 16px 8px -9px rgba(191, 191, 191, alpha);   
}



header > div > a > img  {
    width: 100px;
    height: 90px;
    position: absolute;
    left: 90px;
    bottom: 5px;
    
}


.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    

}

.nav-bar ul li a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    display: block;
    color: #092041;
    font-size: 1.7em;
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .2s;
}

.nav-bar ul li a::after{
    display: block;
    content:"";
    border-bottom: 2px solid;
    transform: scale(0); /* Esconde a barra que fica embaixo dos links */ 
    transition: 250ms ease-in-out;
}

.nav-bar ul li a:hover::after {
    transform: scaleX(1);/* nao esconde a barra que fica embaixo dos links */ 
}

.nav-bar ul li a:active {
    color: #19376d; /*quando ativado fara essa cor*/

}
/* FIM DAS CONFIS DO HEADER */




main {
    margin: auto;
    min-height: 320px;
    font-size: 1.3em;         
}

.box {
    margin-top: 40px;
}


form{
    margin: auto;
    padding-top: 20px; 
}

.title-form {
    color: black;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 20px;
    font-family:'Yanone Kaffeesatz', sans-serif;
}



fieldset {
    font-size: 0.8em;
    border: none;     
}

.login-box > form > fieldset > ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.login-box {
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
}
   
.login-box .user-box input {   
    font-size: 1.0em;
    padding: 10px 10px;
    color: rgb(39, 38, 38);
    margin-bottom: 37px;
    border: 1.2px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
    background: transparent;
    width: 99%; 
    font-weight: 500;
    max-width: 950px;
}

input{
    width: 99%; 
    font-weight: 500;
    max-width: 950px; 
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box label {
    position: absolute;
    top: -35%;
    padding: 5px 0px;
    color: rgb(39, 38, 38);
    pointer-events: none;
    font-size: 0.90em; 
    font-weight: 600; 
    
}

.user-box {
    margin-top: 1em;
}

.user-box label::after {
    content: '*';
    color: rgb(148, 31, 31);
}


.submit {
    padding: 3px;
    width: 20%;
    margin-top: 25px;
    font-size: 1em;
    font-family:'Noto Sans', sans-serif ;
    border-radius: 15px;
}

.submit:hover {
    font-weight: bold;
    border-width: 2px;
}


/*inicio do footer*/
footer {
    background-color: rgb(44, 62, 147);
    color: rgb(216, 216, 216);   
    margin-top: 50px;
}

.containerFooter {
    gap: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
} 

.layout {
    width: 1156px;
    padding: 25px;
   
}

.imgFooter {
    width: 300px;
    padding-right: 0px;
    padding-top: 30px; 

}

.layout > h5 {
    font-size: 1.4em;
    padding: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
}

.layout > ul { 
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    padding: 0%;
}


.layout > ul > li {
    list-style: none;
    padding: 5px;
    
}

.layout > ul > li > a {
    font-weight: bold;
    color: rgb(9, 32, 65);
}
@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #0B2447;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
        transition: 0.5s;
        overflow: hidden;
        z-index: 1;
    }

    .nav-bar.active {
        height: 200px;
        z-index: 2;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 60px auto 0;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .container {
        position: relative;
        padding: 15px;
        max-width: 99%;
        margin: 0 auto;
       
    }

    .gallery-wrapper {
        overflow-x: scroll;
    
    }
    
    .item {
        height: 470px;
        flex-shrink: 0;
        opacity: 1;
        transition: all 600ms ease-in-out;    
    }
  
    .arrow-left,
    .arrow-right {
        display: none;
    }

    header > div > a > img {
        width: 80px;
        height: 70px;
        position: absolute;
        left: 30px;
        bottom:15px;
        
    }
}


@media only screen and (min-width: 1840px){
    
    .arrow-left,
    .arrow-right {
        display: none;
    }
}